doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://bootswatch.com/solar/bootstrap.min.css')
    script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.3.min.js')
    script(type='text/javascript', src='http://localhost:3003/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/chat.js')
    link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=BioRhyme')
    link(href='https://fonts.googleapis.com/css?family=Archivo+Black', rel='stylesheet')

  body
    div#jumbotron
      h1#heading Let's Talk
    block content

    footer Developed By :Greed (a.k.a) Omkar
    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
